* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}
:root {
    --header-height: 56px;
    --sidebar-width: 240px;
    --tag-height: 56px;
    --text-color: #000;
    --background-color: #fff;
    --scroll-width: 8px;
    --width-all: calc(var(--width-all) - 8px);
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
::-webkit-scrollbar {
    width: var(--scroll-width);
}
::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: rgb(165, 165, 165);
    border-radius: 10px;
}
.wrapper {
    width: var(--width-all);
    position: relative;
}
.header {
    background-color: var(--background-color);
    position: fixed;
    justify-content: space-between;
    padding: 0 16px;
    left: 0;
    right: 0;
    height: var(--header-height);
    display: flex;
    align-items: center;
    z-index: 99;
}
.header_start {
    gap: 20px;
    height: 100%;
    display: flex;
    align-items: center;
}
.header_icon {
    padding: 8px;
    font-size: 24px;
}
.logo_header {
    height: 20px;
    width: 90px;
    object-fit: cover;
}
/* Search Css */
.header_search {
    display: flex;
    align-items: center;
}
.search_input {
    outline: none;
    padding: 0 16px;
    font-size: 16px;
    height: 40px;
    width: 540px;
    border-radius: 20px 0 0 20px;
    border: 1px solid #c7c6c6;
}
.span_search {
    padding: 0 20px;
    height: 40px;
    display: flex;
    align-items: center;
    border: 1px solid #c7c6c6;
    border-left: none;
    border-radius: 0 20px 20px 0;
}
.search_icon {
    font-size: 20px;
}
.micro_icon {
    margin-left: 20px;
    font-size: 20px;
}
/* End header CSS */
.header_end {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 0 10px;
}
.hend_list {
    align-items: center;
    display: flex;
    gap: 20px;
}
.hend_item {
    align-items: center;
    display: flex;
    height: 40px;
    width: 40px;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
}
.hend_item:hover {
    background-color: #f2f2f2;
}
.end_icon {
    font-size: 20px;
}
.avt_img {
    height: 30px;
    width: 30px;
    object-fit: cover;
    border-radius: 50%;
}
/* Sidebar Left Css */
.sidebar_left {
    background-color: var(--background-color);
    z-index: 99;
    bottom: 0;
    position: fixed;
    top: var(--header-height);
    overflow-y: scroll;
    padding: 0 12px;
    width: 240px;
}
.public_list {
    padding: 12px 0;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #e5e5e5;
}
.public_item {
    gap: 24px;
    cursor: pointer;
    font-size: 14px;
    overflow: hidden;
    margin-right: 12px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    height: 40px;
    word-wrap: none;
}
.public_item:hover {
    background-color: #f2f2f2;
}
.public_link:focus {
    font-weight: 700;
    background-color: #f2f2f2;
}
.public_link:focus:hover {
    background-color: rgb(229, 229, 229);
}
.public_link:active {
    background-color: rgb(229, 229, 229);
}
.public_link {
    padding: 0 12px;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 24px;
    color: var(--text-color);
}
.sidebar_left i {
    font-size: 24px;
}
.public_span {
    width: 100%;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
/* Subchannel Css */
.subchannel {
    padding: 12px 0;
}
.subchannel_title {
    padding: 8px 0 0 12px;
}
.subchannel_list {
    padding-top: 4px !important;
}
.subchannel_img {
    height: 24px;
    width: 24px;
    object-fit: cover;
    border-radius: 50%;
}
.subchannel_name {
    width: 100%;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.icon_charv {
    padding-left: 12px;
    margin-right: 3px;
}
/* Content Css */
.content {
    position: relative;
    padding-left: var(--sidebar-width);
    padding-top: var(--header-height);
    height: 100vh;
    width: calc(var(--width-all) - var(--scroll-width));
    z-index: 0;
}
/* tag Css */
.tag {
    background-color: var(--background-color);
    display: flex;
    align-items: center;
    position: fixed;
    right: 0;
    padding: 0 24px;
    height: var(--tag-height);
    top: var(--header-height);
    left: var(--sidebar-width);
}
.tag_list {
    display: flex;
    gap: 12px;
}
.tag_item {
    cursor: pointer;
    border-radius: 10px;
    background-color: #f2f2f2;
    overflow: hidden;
    height: 32px;
}
.tag_item:hover {
    background-color: rgb(229, 229, 229);
}
.tag_link {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 12px;
    color: #000;
    font-size: 14px;
}
.tag_link:focus {
    background-color: #000;
    color: #fff;
}
/* Main Content Css */
.main_content {
    margin-top: var(--tag-height);
    padding: 24px 0 24px 24px;
    margin-right: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}
.main_content_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
}
.main_content_item {
    width: 355px;
}
.main_content_img {
    width: 355px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}
.main_content_detail {
    width: 100%;
    display: flex;
    margin-top: 8px;
    height: 100px;
}
.main_content_subchannel_img {
    height: 36px;
    width: 36px;
    border-radius: 50%;
}
.main_content_detail_video {
    padding: 0 12px;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    flex: 1;
}
.main_content_video_name {
    font-weight: 600;
    font-size: 16px;
    width: 100%;
    word-wrap: break-word;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-box-orient: vertical;
}
.main_content_detail_video span {
    font-size: 14px;
}
/* Line Css */
.line {
    height: 4px;
    width: 100%;
    margin: 24px 0;
    background-color: #e5e5e5;
}
/* Short Css */
.main_short_list {
    overflow: hidden;
    padding: 12px 0;
    display: flex;
    gap: 16px;
    justify-content: center;
    width: 100%;
}
.main_short_item {
    row-gap: 12px;
    display: flex;
    width: 170px;
    flex-direction: column;
}
.main_short_img {
    height: 304px;
    width: 170px;
    border-radius: 10px;
    object-fit: cover;
}
.main_short_title {
    font-weight: 600;
    font-size: 16px;
    width: 90%;
    word-wrap: break-word;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-box-orient: vertical;
}
@media screen and (min-width: 1496px) {
}
/* Video Css */
.play_video {
    padding-top: calc(var(--header-height) + 32px);
    padding-left: 60px;
}
