* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

:root {
    --header-height: 56px;
    --tag-height: 56px;
    --text-color: #000;
    --background-color: #fff;
    --scroll-width: 8px;
    --width-all: calc(var(--width-all) - 8px);
    --add-focus: 30px;
    --width-frame: 65vw;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
::-webkit-scrollbar {
    width: var(--scroll-width);
}
::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: rgb(165, 165, 165);
    border-radius: 10px;
}
.sidebar_left:not(:hover)::-webkit-scrollbar-thumb {
    background: #fff;
    border-radius: 10px;
}
.wrapper {
    width: var(--width-all);
    position: relative;
}
.header {
    background-color: var(--background-color);
    position: fixed;
    justify-content: space-between;
    padding: 0 16px;
    left: 0;
    right: 0;
    height: var(--header-height);
    display: flex;
    align-items: center;
    z-index: 9;
}
.nbar_icon {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.header_start {
    gap: 20px;
    height: 100%;
    display: flex;
    align-items: center;
}
.header_icon {
    font-size: 24px;
    border-radius: 50%;
}
.nbar_icon:hover {
    background-color: #c7c6c6;
    cursor: pointer;
}
.logo_header {
    height: 20px;
    width: 90px;
    object-fit: cover;
}
/* Search Css */
.header_search {
    margin: 0 80px;
    width: 644px;
    display: flex;
    align-items: center;
}
.search_detail {
    display: flex;
    width: 100%;
    align-items: center;
    max-width: 540px;
    position: relative;
}
.search_input {
    outline: none;
    padding: 0 16px;
    font-size: 16px;
    height: 40px;
    width: 100%;
    max-width: 540px;
    border-radius: 20px 0 0 20px;
    border: 1px solid #c7c6c6;
}
.search_input:focus ~ .search_data {
    display: block;
}
.search_data {
    position: absolute;
    width: 100%;
    background-color: var(--background-color);
    top: 42px;
    border-radius: 10px;
    box-shadow: 0.2px 0.2px 5px 0.5px #c7c6c6;
    display: none;
    border: 1px solid #c7c6c6;
}
.search_list {
    padding: 15px 0 10px 0;
    width: 100%;
    height: 100%;
    overflow-y: hidden;
}
.search_item {
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search_item:hover {
    background-color: #f2f2f2;
}
.search_item i {
    padding: 0 10px;
    font-size: 20px;
}
.delete_search {
    font-size: 12px;
    padding: 0 25px;
    color: rgb(61, 133, 226);
}
.delete_search:hover {
    text-decoration: underline;
    cursor: pointer;
}
.search_content_output {
    cursor: default;
    font-size: 14px;
    font-weight: bold;
    flex: 1;
}
.span_search {
    padding: 0 20px;
    height: 40px;
    display: flex;
    align-items: center;
    border: 1px solid #c7c6c6;
    border-left: none;
    border-radius: 0 20px 20px 0;
    background-color: #f2f2f2;
}
.span_search:hover {
    background-color: #e5e5e5;
}
.search_icon {
    font-size: 20px;
}
.micro_icon {
    margin-left: 20px;
    font-size: 20px;
}
/* End header CSS */
.header_end {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 0 10px;
}
.hend_list {
    align-items: center;
    display: flex;
    gap: 20px;
}
.hend_item {
    align-items: center;
    display: flex;
    height: 40px;
    width: 40px;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
}
.hend_item:hover {
    background-color: #f2f2f2;
}
.end_icon {
    font-size: 20px;
}
.avt_img {
    height: 30px;
    width: 30px;
    object-fit: cover;
    border-radius: 50%;
}
/* Sidebar Left Css */
.sidebar_left {
    background-color: var(--background-color);
    z-index: 9;
    bottom: 0;
    position: fixed;
    top: var(--header-height);
    overflow-y: scroll;
    padding: 0 12px;
    width: var(--sidebar-width);
}
.sidebar_left:hover::-webkit-scrollbar {
    display: block;
}
.public_list {
    padding: 12px 0;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #e5e5e5;
}
.public_item {
    gap: 24px;
    cursor: pointer;
    font-size: 14px;
    overflow: hidden;
    margin-right: 12px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    height: 40px;
    word-wrap: none;
}
.public_item:hover,
.focus {
    background-color: #f2f2f2;
}
.public_link:focus {
    font-weight: 700;
    background-color: #f2f2f2;
}
.public_link:focus:hover {
    background-color: rgb(229, 229, 229);
}
.public_link:active {
    background-color: rgb(229, 229, 229);
}
.public_link {
    padding: 0 12px;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 24px;
    color: var(--text-color);
}
.sidebar_left i {
    font-size: 24px;
}
.public_span {
    width: 100%;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
/* Subchannel Css */
.subchannel {
    padding: 12px 0;
}
.subchannel_title {
    padding: 8px 0 0 12px;
}
.subchannel_list {
    padding-top: 4px !important;
}
.subchannel_img {
    height: 24px;
    width: 24px;
    object-fit: cover;
    border-radius: 50%;
}
.subchannel_name {
    width: 100%;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.icon_charv {
    padding-left: 12px;
    margin-right: 3px;
}
/* Content Css */
.content {
    position: relative;
    padding-left: var(--sidebar-width);
    padding-top: var(--header-height);
    height: 100vh;
    width: calc(var(--width-all) - var(--scroll-width));
    z-index: 0;
}
/* tag Css */
.tag {
    background-color: var(--background-color);
    display: flex;
    align-items: center;
    position: fixed;
    right: 0;
    padding: 0 24px;
    height: var(--tag-height);
    top: var(--header-height);
    left: var(--sidebar-width);
}
.tag_list {
    display: flex;
    gap: 12px;
    overflow: hidden;
}
.tag_item {
    cursor: pointer;
    border-radius: 10px;
    background-color: #f2f2f2;
    height: 32px;
}
.tag_item:hover {
    background-color: rgb(229, 229, 229);
}
.tag_link {
    border-radius: 10px;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 12px;
    color: #000;
    font-size: 14px;
    white-space: nowrap;
}
.tag_link:focus {
    background-color: #000;
    color: #fff;
}
/* Main Content Css */
.main_content {
    margin-top: var(--tag-height);
    padding: 24px 0 24px 24px;
    margin-right: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    overflow-y: scroll;
}
.main_content_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
}
.main_content_item {
    width: 327px;
}
.main_content_img {
    width: 100%;
    height: 183px;
    object-fit: cover;
    border-radius: 10px;
}
.main_content_detail {
    width: 100%;
    display: flex;
    margin-top: 8px;
    height: 100px;
}
.main_content_subchannel_img {
    height: 36px;
    width: 36px;
    border-radius: 50%;
}
.main_content_detail_video {
    padding: 0 12px;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    flex: 1;
}
.main_content_video_name {
    font-weight: 600;
    font-size: 16px;
    width: 100%;
    word-wrap: break-word;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-box-orient: vertical;
}
.main_content_detail_video span {
    font-size: 14px;
}
/* Modal Css */
.modal_sidebar {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 10;
}
.modal_container {
    position: relative;
    max-width: 240px;
    margin: 0;
    height: 100vh;
    z-index: 99;
}
.modal_header {
    height: 56px;
    background-color: var(--background-color);
    width: 240px;
    display: flex;
    align-items: center;
    padding-left: 16px;
    gap: 20px;
}
.modal_main {
    background-color: var(--background-color);
    bottom: 0;
    position: fixed;
    top: var(--header-height);
    overflow-y: scroll;
    padding: 0 12px;
    width: 240px;
    z-index: 19;
}
.hide {
    display: none;
}
.hide .modal_container {
    animation-name: snart;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}
/* Video Css */
.video_section {
    width: 100%;
    display: flex;
    justify-content: center;
}
.video_main {
    width: 100%;
    max-width: 1700px;
    display: flex;
    padding-top: calc(var(--header-height) + 32px);
    padding-left: 60px;
    padding-right: 60px;
    gap: 24px;
}
.play_video {
    position: relative;
    overflow: hidden;
    width: var(--width-frame);
    max-height: calc(var(--width-frame) / 16 * 9);
}
.play_iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}
.video_right {
    max-width: 30%;
}
.video_right_list {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
}
.video_right_item {
    width: 100%;
    display: flex;
    gap: 8px;
}
.video_right_img {
    width: 168px;
    height: 94px;
    border-radius: 5px;
}
.video_right_detail_video {
    display: flex;
    flex-direction: column;
}
.video_right_video_name {
    font-weight: 600;
    font-size: 14px;
    width: 100%;
    word-wrap: break-word;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-box-orient: vertical;
    margin-bottom: 8px;
}
.video_right_video_channel,
.video_right_video_view {
    font-size: 12px;
    margin-top: 4px;
}
@keyframes trans {
    from {
        transform: translate(-100%);
    }
    to {
        transform: translate(0);
    }
}
@keyframes snart {
    from {
        transform: translate(0);
    }
    to {
        transform: translate(-100%);
    }
}
.animation-trans {
    animation-name: trans;
    animation-duration: 0.3s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}
.animation-snart {
    animation-name: snart;
    animation-duration: 0.3s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}
/* Responsive Css */
@media (min-width: 1263px) {
    :root {
        --sidebar-width: 240px;
    }
}
@media (max-width: 1262px) {
    :root {
        --sidebar-width: 72px;
    }
    .sidebar_left {
        padding: 0 4px;
        overflow-y: auto;
    }
    .sidebar_left .public_list {
        border: none;
        row-gap: 6px;
    }
    .sidebar_left .public_item {
        margin: 0;
        height: auto;
    }
    .sidebar_left .public_link {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 5px;
        height: 64x;
        padding: 16px 0 14px 0;
        align-items: center;
        font-size: 10px;
        max-width: 100%;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .sidebar_left .public_link i {
        font-size: 20px;
    }
    .small {
        display: none;
    }
}
@media (max-width: 1080px) {
    .sidebar_left {
        display: none;
    }
    :root {
        --sidebar-width: 0px;
        --width-frame: 80vw;
    }
    .header_search {
    }
    .video_main {
        flex-direction: column;
        align-items: center;
    }
    .video_right {
        max-width: 100%;
    }
}
